<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/13.4/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         cacheDirectory=".phpunit.cache"
         executionOrder="depends,defects"
         requireCoverageMetadata="false"
         beStrictAboutOutputDuringTests="true"
         failOnRisky="true"
         failOnWarning="true">
    <testsuites>
        <testsuite name="RSS-Bridge Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory>lib</directory>
            <directory>bridges</directory>
            <directory>bridges-v2</directory>
            <directory>actions</directory>
            <directory>caches</directory>
            <directory>formats</directory>
        </include>
        <exclude>
            <directory>lib/parsedown</directory>
            <directory>lib/php-urljoin</directory>
            <directory>lib/simplehtmldom</directory>
        </exclude>
    </source>
</phpunit>