<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         colors="true"
         failOnDeprecation="false"
         failOnWarning="false"
         failOnNotice="false"
         displayDetailsOnTestsThatTriggerDeprecations="true"
         displayDetailsOnTestsThatTriggerWarnings="true"
         cacheDirectory=".phpunit.cache">
    <testsuites>
        <testsuite name="unit">
            <directory>tests</directory>
            <exclude>tests/RedditBridgeTest.php</exclude>
            <exclude>tests/UberEngineeringBridgeTest.php</exclude>
            <exclude>tests/YouTubeFeedExpanderBridgeTest.php</exclude>
        </testsuite>
        <testsuite name="integration">
            <file>tests/RedditBridgeTest.php</file>
            <file>tests/UberEngineeringBridgeTest.php</file>
            <file>tests/YouTubeFeedExpanderBridgeTest.php</file>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory suffix=".php">lib</directory>
            <directory suffix=".php">bridges</directory>
            <directory suffix=".php">formats</directory>
            <directory suffix=".php">actions</directory>
            <directory suffix=".php">caches</directory>
            <directory suffix=".php">middlewares</directory>
        </include>
        <exclude>
            <directory>lib/parsedown</directory>
            <directory>lib/php-urljoin</directory>
            <directory>lib/simplehtmldom</directory>
        </exclude>
    </source>
</phpunit>